#eventfield{
    border: dashed 3px black;
    width: 96%;
    height: 620px;
    margin-bottom: 10px;
}

#changecolors{
    margin-right: 18%;
}

#displaydiv{
    transition: background-color 0.5s ease;
}

#VA{
     transition: color 0.5s ease;
}

#IE{
    transition: color 0.5s ease;
}

#bar{
    transition: color 0.5s ease;
}

body{
    background-color: white;
    transition: background-color 0.5s ease;
}