#eventfield{
    border: dashed 3px black;
    width: 96%;
    height: 620px;
    margin-bottom: 10px;
}

#changecolors2{
    margin-right: 18%;
}

#changecolors1{
    margin-right: 27%;
}

body{
    background-color: white;
}