#eventfield{
    border: dashed 3px black;
    width: 96%;
    height: 620px;
    margin-bottom: 10px;
}

#changecolors2{
    margin-left: 57%;
    margin-top: 1%;
    position: relative;
}

#changecolors1{
    margin-left: 40%;
    margin-top: 1%;
}

body{
    background-color: white;
}